body { background: #f5129; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 49px; display: flex; }
.block-metrics-0 { color: #9dddf7; font-size: 21px; margin-bottom: 5px; }
.block-shipping-1 { color: #fc4df3; font-size: 16px; margin-bottom: 5px; }
.block-validator-2 { color: #b60486; font-size: 20px; margin-bottom: 5px; }
.block-token-3 { color: #b0e653; font-size: 12px; margin-bottom: 5px; }
.block-router-4 { color: #58e8f3; font-size: 16px; margin-bottom: 5px; }